<form action="/auth/login" method="post">
    Login to continue:
    email: <input type="email" name="email" id="" required><br>
    password: <input type="password" name="password" id="" required><br>
    <button type="submit">Register</button>
</form>