<form action="/auth/register" method="post">
    Register to continue:
    first name: <input type="text" name="fname" id="" required><br>
    last name: <input type="text" name="lname" id="" required><br>
    email: <input type="email" name="email" id="" required><br>
    password: <input type="password" name="password" id="" required><br>
    confirm password: <input type="password" name="confirm_password" id="" required><br>
    <button type="submit">Register</button>
</form>